.bg-green {
  background-color: #1FC5AC;
}

.turtle-green {
  color: #1FC5AC;

}

@font-face {
  font-family: "custom_457";
  src: url("https://rafaelmedian.github.io/turtle.lol/fonts/5768424da2238149633e414f.woff") format('woff');
}

* {
  font-family: 'custom_457', 'Circular Std', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transition: all 0.2s ease-out;
}

.logo:hover {
    cursor: progress;
}

.contrast {
  color: #1AAA94;
}

.header-img {
  max-height: 63vh;
}

.cta {
  font-weight: 700;
  padding: 1em 1.75em;
  margin: 1.25rem 1rem;
  transition: all .15s ease-out;
}

.mw26 {
  max-width: 26rem;
}

.mw28 {
  max-width: 28rem;
}

.bg-soft-gray {
  background-color: #F9F9F9;
}

.b--black-05 {
  border-color: #ECECEC;
}

.medium-gray {
  color: #9D9D9D;
}

@-webkit-keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
